





/*

This stylesheet provides styling for the main navigation elements in your site

*/

 div#mainnav
{
height: 1.9em; 
position: absolute;
top:170px;
left:0px;
width: 100%;
border-width: 0px;
border-top: 1px solid #fff;
padding-bottom: 1px;
background-color: #fff;
letter-spacing: 0.15em;
text-align:left;
}

div#mainnav h2
{
position: absolute;
left: -2100px;

}

#mainnav ul 
{
    width: 50em;
    padding:0;
    display:inline; 
    /*margin:0 auto;   */ /* this makes the text not quite centre properly */
  

}

#mainnav ul li 
{
	list-style-type: none;
  height:2em;
	display: inline;
  padding:0;
  margin:0;
  font-weight: bold;
  white-space:nowrap; 
  overflow:hidden; 
}

#mainnav ul li a, #mainnav ul li a.currentsection, #mainnav ul li span.youarehere { 

 height:2em;
    float:left;
    white-space:nowrap;
    border:none;
    color:#002147;
    font-size:0.95em;
    line-height: 1.9em;
    padding: 0px;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration:none;
	border-color: white;
	border-width: 0px ;
  text-color: #002147;
  text-align: left;
	/*border-left: 1px solid #ccc; */
	/*border-right: 1px solid #ccc; */

	


	

}



div#mainnav ul li a:hover, div#mainnav ul li a:focus
{

background-color: #002147;
color: #fff;
}

 div#mainnav ul li span.youarehere, div#mainnav ul li a.currentsection, div#mainnav ul li a.selected
{
color: #333;
background-color: #fff;

}






/* styles for sub nav  */

div#additional ul
{

padding: 0px;
margin: 5px;
margin-left: 10px;
margin-top: 20px;
margin-bottom: 30px;
border-width: 0px;
border-bottom: 2px solid #ccc;
border-top: 2px solid #ccc;

	
padding-bottom: 0px;
}

div#additional ul li
{
	padding: 0px;
	margin: 0px;
	padding-bottom: 0px;	
	margin-bottom:0px;
	list-style: none;
	border-width: 0px;
 
}

div#additional ul li a
{
	background-color: #fff;
	color: #000;
 
}
 div#additional ul li.currentsection a
{
	background-color: #eee;
	color: #000;
	border-bottom: 1px solid #ccc;

}

div#additional ul li a:hover, div#additional ul li a:focus
{
	background-color: #666;
	color: #fff;
}


 div#additional ul li span.youarehere
 
 {
	background-color: #ddd;
	color: #000;
}



div#additional ul li a, div#additional ul li a#currentsection, div#additional ul li span.youarehere
{

	text-align: center;   
	display: block;
	
	border-width: 0px;
	border-top: 1px solid #ccc;
	
	font-size:0.95em;
	padding: 0.7em 0.7em;
	text-decoration: none;
	
}


div#additional ul li a#currentsection
{

}

div#additional ul li# a, div#additional ul li, div#additional ul li span.youarehere
{
 border-top: 1px solid #ccc;
}


div#additional ul li ul li a, div#additional ul li ul li span.youarehere
{
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: normal;
	border-width: 0px ;
	padding-right: 1.8em;
}


div#additional ul li.currentsection
{
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;

}

div#additional ul li ul
{
margin: 0px;
padding: 0px;

}

