<div id="page_title">
<h1>New analysis - <%= Job.types.invert[session[:type]] -%></h1>
</div>

<div id="privacy">
<%= render "form_#{session[:type]}" %>
</div>

<% unless session[:type] == 'left' -%>
<%= link_to 'Back', jobs_path %>
<% end -%>
