/*------------------------------------------------------------------
eric meyer's reset
------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 11px;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    vertical-align: baseline;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    /*line-height: 1;*/
    padding-top: 25px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------------------------------------
end reset
------------------------------------------------------------------*/

html, body {
    background-color: #fff;
    height: 100%;
}

body {
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans';
}

p, li {
    text-align: justify;
    font-size: 12px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*
* =GLOBAL HEADER / FOOTER
* ------------------------------- */

#container {
    width: 100%;
    min-width: 992px;
    margin: 0;
}

#hd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 992px;
    z-index: 41;
}

#hd_bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    *background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1f2f1));
    background-image: -webkit-linear-gradient(top, #ffffff, #f1f2f1);
    background-image: -o-linear-gradient(top, #ffffff, #f1f2f1);
    background-image: linear-gradient(to bottom, #ffffff, #f1f2f1);
    background-image: -moz-linear-gradient(top, #ffffff, #f1f2f1);

    border-bottom: thick solid #333;

    z-index: 70;

}

#hd_nav > .shadow, .dd .shadow {
    position: absolute;
    top: 67px;
    width: 100%;
    height: 2px;
    z-index: 70;

}

.dd .shadow {
    position: static;
    top: auto;
    bottom: 0;
    z-index: 60;
}

h1#siteTitle {
    position: absolute;
    width: 180px;
    height: 80px;
    text-indent: -9999px;
}

#hd_nav {
    position: relative;
    width: 100%;
    color: #333333;
    font-size: 10px;
    font-weight: bold;
    z-index: 100;

}

#hd_nav_wrapper {
    width: 100%;
    /*margin: 0 auto;*/
}

#hd li {
    float: left;
}

x

#hd li:hover {
}

#site_nav {
    float: left;
    height: 70px;
}

#site_nav li a {
    display: block;
    height: 70px;
    overflow: hidden;

}

#site_nav li a .label {
    display: block;
    height: 15px;
    padding: 10px 0px 0px;
    color: #333333;
    font-size: 15px;
}

#site_nav ul {
    display: none;
    background-color: #fff;
    z-index: 110;
    position: relative;
}

#site_nav li:hover > ul {
    display: block;
    position: relative;
    background: #e8e8e8;
}

#site_nav li.selected a .label {
    padding-bottom: 0px;
}

#site_nav li#site_nav_home a .label {
    background: url('../img/leftlogo.png') center 0px no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 9px;
    margin-left: 5px;
    width: 360px;
    height: 70px;
}

#hd .ext_nav {
    float: right;
    /*padding-top: 10px;*/
    /*margin-right: 14px;*/
}

.ext_nav li {
    float: left;
}

.ext_nav li .label {
    /*height: 13px;*/
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 13px;
    vertical-align: bottom;
}

.ext_nav li a {
    float: right;
    display: block;
    color: #FFF;
}

/*------------------------------------------------------------------
layout
------------------------------------------------------------------*/
div.content {

    width: 100%;
    padding: 35px 0px 0px 0px;
}

v
/*------------------------------------------------------------------
dropdown
------------------------------------------------------------------*/
#site_nav ul {
    position: static;
    display: block;
}

#site_nav li.down > a .label {
    border-bottom: 5px solid #404142;
    padding-bottom: 20px;
}

#site_nav ul.product_nav li .dWrap {
    position: absolute;
    top: 50px;
    left: 18px;
    height: 10px;
    width: 100%;
}

#site_nav ul.product_nav li .linkTxt {
    position: absolute;
    visibility: hidden;
    top: 220px;
    left: 36px;
    color: #fff;
    font-weight: bold;
    padding-right: 24px;
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

#site_nav ul.product_nav li:hover .linkTxt {
    visibility: visible;
    opacity: 1;
}

#site_nav ul.product_nav li h3 {
    padding: 20px 10px 0 18px;
    font-size: 12px;
    font-family: 'Open Sans';
    color: #444;
}

#site_nav ul.tool_nav li {
    background: #fff;
}

#site_nav ul.tool_nav .informationPlate {
    position: relative;
    width: 87px;
    height: 25px;
    padding: 15px 40px 15px 13px;
}

#site_nav ul.tool_nav .informationPlate h3 {
    margin-bottom: 3px;
}

#site_nav ul.tool_nav .informationPlate h3, #site_nav ul.tool_nav .informationPlate h4 {
    font-size: 12px;
    color: #404142;
    font-family: 'Open Sans';
}

#site_nav ul.tool_nav .gs {
    position: absolute;
    top: 0;
    left: 0;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

/* Content */
#content-wrapper {
    position: relative;
    z-index: 4;
    height: 1%;
}

#main-content {
    padding: 40px 0;
}

#main-wrapper {
    position: relative;
    background: #fff;
    min-width: 1000px;
    height: 1%;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.biodiversity-institute {
    display: block;
    text-indent: -9999px;
    background: url('../img/logos/biodiversity.jpeg') no-repeat;
    background-size: 80px;
    width: 80px;
    height: 80px;
    margin: 0 2px;
}

.statoil {
    display: block;
    background: url('../img/logos/statoil.gif') no-repeat;
    background-size: 105px;
    width: 105px;
    height: 80px;
    margin: 0 2px;
}

.univ_oxford {
    display: block;
    background: url('../img/logos/oxford.png') no-repeat;
    background-size: 60px;
    width: 60px;
    height: 80px;
    margin: 0 2px;
}

.smallText {
    line-height: 15px;
    font-size: 11px;
    font-weight: lighter;
}

/*Footer stuff*/

.clearFooter {
    height: 300px;
    clear: both;
}

/*Section headers*/
#information_blocks {
    z-index: 20;
    position: relative;
}

#top_information {
    z-index: 21;
    position: relative;
    font-size: 14px;
}

.information_block {
    margin: 0;
    text-align: justify;
}

.information_block {
    position: relative;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    height: auto;
}

.information_block .header span {
    font-weight: bold;
}

.padTop {
    padding-top: 10px;
}

.padRight {
    padding-right: 10px;
}

.information_block .image {
    display: block;
    width: 316px;
    height: 143px;
    overflow: hidden;
    margin-bottom: 8px;
}

.information_block .image img {
    width: 316px;
    height: 143px;
}

.information {
    display: block;
    padding: 0 3px;
}

.information .date {
    display: block;
    font-size: 10px;
    color: #333333;
}

.information .date span {
    color: #a0a0a0;
}

.information .title, .information_block .information .subtitle {
    display: block;
    overflow: hidden
}

.information .title {
    color: #333333;
    font-size: 11px;
}

.information .subtitle {
    color: #333333;
    font-weight: bold;
    font-size: 12px;
}

.information {
    padding: 10px 5px 0 0;
    color: #333333;
}

.information ul li {
    list-style: decimal;
    padding-left: 10px;
}

.newsItem {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
}

.information a {
    color: #333333;
    text-decoration: underline;
}

.button {
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    border: 1px solid #EAEAEA;
    border-bottom-color: #ccc;

    display: inline-block;
    color: #333333 !important;
    font-family: 'Open Sans';
    font-size: 11px;
    padding: 5px 5px;
    text-decoration: none;
}

.button a {
    color: #333333;
}

.button:hover {
    background-color: #fff;
    color: #333333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f2f2));
    background-image: -webkit-linear-gradient(top, #fff, #f1f2f2);
    background-image: -moz-linear-gradient(top, #fff, #f1f2f2);
    background-image: linear-gradient(top, #fff, #f1f2f2);
    background-image: -o-linear-gradient(top, #fff, #f1f2f2);
}

.button:hover a {

    color: #333333;
}

.button:active {
    position: relative;
    top: 1px;
}

.button a {
    text-decoration: none;
}

.services {
    display: inline-block;
    float: left;
}

#footer {
    color: #636363;
    padding: 10px 0 0 0;
    font-size: 12px;
    clear: both;
}

.footer_container {
    width: 87%;
    margin: 0 auto;
}

.upper_footer {
    min-height: 90px;
    width: 100%;
    padding-bottom: 5px;
    margin-top: -20px;
    overflow: hidden;
    background-color: #f1f2f1;
    border-top: 1px solid #E0E0E0;
}

.bottom_footer {
    position: relative;
    border-top: 1px solid #E0E0E0;

    overflow: hidden;
    clear: both;
    min-height: 60px;
}

.additional-information {
    float: inherit;
    margin-top: 8px;
    color: #EC008C;
}

.additional-information a {
    color: #333333;
}

#footer .upper_footer h4 {
    color: #EC008C;
}

#footer .upper_footer ul.footer_links {
    position: relative;
    width: 165px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .upper_footer ul.footer_links a {
    color: #333333;
    font-size: 13px;
    font-weight: lighter;
}

.padRight40 {
    padding-right: 40px;
}

.service-grid li services span img {
    display: block;
}

#services {
    height: auto;
}

li {
    display: inline-block;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: inline-block;
    list-style-type: none;

    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.attention-label {
    width: 100%;
    margin-top: -10px;
    font-weight: bold;
    font-size: 13px;
    height: 25px;
    color: #fff;
    padding-bottom: 10px;
    padding-left: 5px;
}

#notice {
    background-color: #333333;
}

#alert {
    background-color: #ec008c;
}

.stuff {
    width: 100%;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 15px;
}

.content-section {
    display: inline-block;
    padding-left: 5px;
    background-size: 30px;
    height: 30px;
    padding-left: 33px;
    padding-top: 0px;
    font-weight: bold;
}

.header-text {
    display: inline-block;
    font-weight: bold;
    padding-top: 8px;
}

#login {
    width: 31em;
}

.login_form {
    margin: 5em auto;
}

.login_form .formbody {

    padding: 2em;
    background-color: whiteSmoke;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 3px 3px;
}

.login_form form input.text, .login_form form textarea, .login_form form input[type="checkbox"] {
    padding: 5px;
    border: 1px solid #D8DEE2;
    margin: .2em 0 1em 0;
}

.danger-header {
    background: #F97171;
    background: -moz-linear-gradient(#F97171, #DF3E3E);
    background: -webkit-linear-gradient(#F97171, #DF3E3E);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f97171',endColorstr='#df3e3e')";
    border-bottom: 1px solid #900;
    color: #fff;
    margin-top: 15px;
}

.danger-text {
    padding-top: 5px;
    padding-left: 3px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
}

.leaving {
    color: #a0a0a0;
    text-align: center;
}

.login-additional {
    width: 23em;
    text-align: center;
    margin-top: 10px;
    margin-left: 3em;
    margin-right: 3em;

}

.description-text {
    font-size: 11px;
    font-weight: lighter;
}

.title-text {
    font-size: 11px;
}

.about {
    position: relative;
    float: left;
    margin-top: 40px;
    font-size: 14px;
}

.searchMap {

    width: 100%;
    background-repeat: repeat-x;
    *background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1f2f1));
    background-image: -webkit-linear-gradient(top, #ffffff, #f1f2f1);
    background-image: -o-linear-gradient(top, #ffffff, #f1f2f1);
    background-image: linear-gradient(to bottom, #ffffff, #f1f2f1);
    background-image: -moz-linear-gradient(top, #ffffff, #f1f2f1);
    border-bottom: thin solid #f1f2f1;
    margin-top: -10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.submission {
    margin-top: 70px;
    margin-right: 20px;
    position: relative;
    opacity: 0.95;
    float: right;
    z-index: 100;
    width: 270px;
    height: 450px;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    border: 3px solid #EAEAEA;

    -webkit-box-shadow: 2px 2px 4px 1px #333;
    box-shadow: 2px 2px 4px 1px #333;
}

.topSubmission {
    background: #ec008c; /* Old browsers */
    background: -moz-linear-gradient(top, #ec008c 0%, #d60079 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec008c), color-stop(100%, #d60079)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ec008c 0%, #d60079 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ec008c 0%, #d60079 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ec008c 0%, #d60079 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ec008c 0%, #d60079 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ec008c', endColorstr = '#d60079', GradientType = 0); /* IE6-9 */

    height: 30px;
    width: 100%;

    margin-bottom: -20px;
}

.topSubmissionText {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    color: #FFF;
    font-weight: 600;
    font-size: 1.3em;
}

.sectionHeader {
    text-align: left;
    width: 95%;
    height: 20px;
    font-size: 1.2em;
    background-color: #333333;
    color: #FFF;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.informationText {
    text-align: left;
    font-size: 1.1em;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.navigation-button {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 15px;
    padding-top: 28px;
    font-weight: lighter;
}

.navigation-analyses {
    font-weight: bolder;
}

.submit {
    float: right;
    position: relative;
    margin-right: 9px;
    margin-top: 15px;

}

.reset {
    float: left;
    margin-left: 9px;
    margin-top: 15px;

}

input, textarea {
    width: 80px;
    font-size: 10px;
}

.inline {
    position: relative;
    float: left;
    /*padding-left: 26px;*/
    width: 140px;
}

.padout {
    margin-left: 85px;
}

.padin {
    padding-left: -70px;
    /*width: 90px;*/
}

.img {
    height: auto;
}

.btn-pink {
    color: #ffffff;
    font-size: 12px;
    font-weight: bolder;
    background: #ec008c; /* Old browsers */
    background: -moz-linear-gradient(top, #ec008c 0%, #d60079 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec008c), color-stop(100%, #d60079)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ec008c 0%, #d60079 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ec008c 0%, #d60079 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ec008c 0%, #d60079 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ec008c 0%, #d60079 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ec008c', endColorstr = '#d60079', GradientType = 0); /* IE6-9 */

    border-color: #EC008C #EC008C #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#ffEC008C', endColorstr = '#ff51a351', GradientType = 0);
    filter: progid:dximagetransform.microsoft.gradient(enabled = false);
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink.active,
.btn-pink.disabled,
.btn-pink[disabled] {
    color: #ffffff;
    background: #d60079; /* Old browsers */
    background: -moz-linear-gradient(top, #d60079 0%, #ec008c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d60079), color-stop(100%, #ec008c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d60079 0%, #ec008c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d60079 0%, #ec008c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d60079 0%, #ec008c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d60079 0%, #ec008c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d60079', endColorstr = '#ec008c', GradientType = 0); /* IE6-9 */

}

.btn-pink:active,
.btn-pink.active {
    background-color: #ec008c;
}

.south {
    padding-left: 85px;
}

.field {
    float: left;
    position: relative;
    margin-top: 5px;
    padding-left: 10px;
}

.firstSection {
    margin-top: 30px;
}

textarea {
    resize: none;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f1f2f1;
    position: relative;
    z-index: 50;
    margin-top: 0px;
    margin-right: 70px;
}

.form-text {
    font-family: 'Open Sans';
    font-size: 1.2em;
    width: 20em;
    padding: 2px 5px 5px 5px;
    border: 1px solid #D8DEE2;
    margin: 0em 0 0em 0;
}

.tools {
    float: right;
    padding-right: 15px;
    display: block-inline;
}

input, button, select, textarea {
    font-family: "Open Sans", sans-serif;
}

.content-container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
}

.box {
    background: url('../img/effects/box-shadow.png') center bottom no-repeat;

    height: 100%;
    min-height: 40px;
    padding-bottom: 30px;

}

.home-box-menu {
    display: inline-block;
}
.homebox {
    display: inline-block;
    width: 300px;
    /*margin-left: 320px;*/
}
#job_info {
    display: inline-block;
    margin-left: 40px;
}
#job_title {
    display: inline-block;
    margin-left: 40px;
}

.oboe-services-header {
    border-bottom-color: #CACACA;
    font-size: 1.3em;
    width: 100%;
    height: 30px;
    /*text-indent: -9999px;*/
}
.danger-header {
    background: #F97171;
    background: -moz-linear-gradient(#F97171, #DF3E3E);
    background: -webkit-linear-gradient(#F97171, #DF3E3E);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f97171',endColorstr='#df3e3e')";
    border-bottom: 1px solid #900;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
}

