/*------------------------------------------------------------------
eric meyer's reset
------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 13px;
    color: #3C6F95;
    font-family: 'PT Sans', sans-serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    /*line-height: 1;*/
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------------------------------------
end reset
------------------------------------------------------------------*/

html, body {
    background-color: #fff;
    height: 100%;
}

body {
    padding-top: 67px
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Helvetica, Arial, sans-serif;
}

p, li {
    text-align: justify;
    font-size: 12px;
}

a {
    text-decoration: none;
}

sup {
    font-size: 75%;
    vertical-align: baseline;
    line-height: 0;
    position: relative;
    top: -0.35em;
}

.checkedOverlay {
    position: absolute;
    background-color: #D1D3D4;
}

/*
* =GLOBAL HEADER / FOOTER
* ------------------------------- */

#container {
    width: 100%;
    min-width: 992px;
    /*min-height: 100%;*/
    /*height: auto!important;*/
    /*height: 100%;*/
    margin: 0;
    /*margin-bottom: -190px;*/
    /*position: relative;*/
}

#hd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 992px;
    z-index: 41;
}

#hd .shaderStrip {
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 50;
}

#blackOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D1D2D3;
    z-index: 40;
}

#hd_bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #fff;
    font-weight: bold;
    z-index: 70;

}

#hd_nav > .shadow, .dd .shadow {
    position: absolute;
    top: 67px;
    width: 100%;
    height: 2px;
    z-index: 70;

}

.dd .shadow {
    position: static;
    top: auto;
    bottom: 0;
    z-index: 60;
}

h1#siteTitle {
    position: absolute;
    top: 137px;
    left: 50%;
    width: 180px;
    height: 190px;
    margin-left: -417px;
    z-index: 30;
    text-indent: -9999px;
}

#hd_nav {
    position: relative;
    width: 100%;
    color: #666;
    font-size: 10px;
    font-weight: bold;
    z-index: 100;

}

#hd_nav_wrapper {
    width: 980px;
    margin: 0 auto;
}

#hd li {
    float: left;
}

x

#hd li:hover {
}

#site_nav {
    float: left;
    height: 90px;
}

#site_nav li a {
    display: block;
    height: 80px;
    overflow: hidden;

}

#site_nav li a .label {
    display: block;
    height: 15px;
    padding: 27px 15px 25px;
    color: #3C6F95;
    font-size: 15px;
}

#site_nav ul {
    display: none;
    background-color: #fff;
    z-index: 110;
    position: relative;
}

#site_nav li:hover > ul {
    display: block;
    position: relative;
    background: #e8e8e8;
}

#site_nav li.selected a .label {
    padding-bottom: 20px;
}

#site_nav li#site_nav_home a .label {
    background: url('../img/logo.png') center 0px no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    width: 141px;
}

#site_nav #site_nav_prod a:hover .label,
#site_nav #site_nav_team a:hover .label {
    background-position: right -8px;
}

#hd .ext_nav {
    float: right;
    padding-top: 5px;
    margin-right: 2px;
}

.ext_nav li {
    float: left;
}

.ext_nav li .label {
    height: 13px;
    line-height: 13px;
    vertical-align: bottom;
}

.ext_nav li a {
    float: left;
    display: block;
    color: #FFF;
}

/*------------------------------------------------------------------
layout
------------------------------------------------------------------*/
div.content {

    width: 100%;
    padding: 35px 0px 0px 0px;
}

div.news {
    width: 100%;
    padding: 0px 0px 0px 0px;
}


/*------------------------------------------------------------------
dropdown
------------------------------------------------------------------*/
#site_nav ul {
    position: static;
    display: block;
}

#site_nav li.down > a .label {
    border-bottom: 5px solid #404142;
    padding-bottom: 20px;
}

#site_nav ul.product_nav li .dWrap {
    position: absolute;
    top: 50px;
    left: 18px;
    height: 10px;
    width: 100%;
}

#site_nav ul.product_nav li .linkTxt {
    position: absolute;
    visibility: hidden;
    top: 220px;
    left: 36px;
    color: #fff;
    font-weight: bold;
    padding-right: 24px;
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

#site_nav ul.product_nav li:hover .linkTxt {
    visibility: visible;
    opacity: 1;
}

#site_nav ul.product_nav li h3 {
    padding: 20px 10px 0 18px;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: #444;
}

#site_nav ul.tool_nav li {
    background: #fff;
}

#site_nav ul.tool_nav .informationPlate {
    position: relative;
    width: 87px;
    height: 25px;
    padding: 15px 40px 15px 13px;
}

#site_nav ul.tool_nav .informationPlate h3 {
    margin-bottom: 3px;
}

#site_nav ul.tool_nav .informationPlate h3, #site_nav ul.tool_nav .informationPlate h4 {
    font-size: 12px;
    color: #404142;
    font-family: Helvetica, sans-serif;
}

#site_nav ul.tool_nav .gs {
    position: absolute;
    top: 0;
    left: 0;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

/* Content */
#content-wrapper {
    position: relative;
    z-index: 4;
    height: 1%;
}

#main-content {
    padding: 40px 0;
}

#main-wrapper {
    position: relative;
    background: #fff;
    min-width: 1000px;
    height: 1%;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.oerc_link {
    display: block;
    text-indent: -9999px;
    background: url('../img/logos/oerc.png') no-repeat left bottom;
    background-size: 60px;
    width: 71px;
    height: 71px;
    margin: 0 2px;
}

.univ_oxford_link {
    display: block;
    text-indent: -9999px;
    background: url('../img/logos/oxoboe.png') no-repeat left bottom;
    background-size: 60px;
    width: 71px;
    height: 71px;
    margin: 0 2px;
}

.smallText {
    line-height: 15px;
    font-size: 11px;
    font-weight: lighter;
}

/*Footer stuff*/

.clearFooter {
    height: 300px;
    clear: both;
}

/*Section headers*/
#information_blocks {
    z-index: 20;
    position: relative;
}

#top_information {
    z-index: 21;
    position: relative;
    font-size: 14px;
}

.information_block {
    margin: 0;
    text-align: justify;
}

.information_block {
    position: relative;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    height: auto;
}

.information_block .header span {
    font-weight: bold;
}

.padTop {
    padding-top: 10px;
}

.padRight {
    padding-right: 10px;
}

.information_block .image {
    display: block;
    width: 316px;
    height: 143px;
    overflow: hidden;
    margin-bottom: 8px;
}

.information_block .image img {
    width: 316px;
    height: 143px;
}

.information {
    display: block;
    padding: 0 3px;
}

.information .date {
    display: block;
    font-size: 10px;
    color: #414042;
}

.information .date span {
    color: #a0a0a0;
}

.information .title, .information_block .information .subtitle {
    display: block;
    overflow: hidden
}

.information .title {
    color: #414042;
    font-size: 11px;
}

.information .subtitle {
    color: #414042;
    font-weight: bold;
    font-size: 12px;
}

.information {
    padding: 10px 5px 0 0;
    color: #414042;
}

.information ul li {
    list-style: decimal;
    padding-left: 10px;
}

.newsItem {
    color: #29ABE2;
    font-size: 13px;
    font-weight: bold;
}

.information a {
    color: #414042;
    text-decoration: underline;
}

.tracklist__item__currentState {
    background-color: #29ABE2 !important;
}

.button {
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    border: 1px solid #EAEAEA;
    border-bottom-color: #ccc;

    display: inline-block;
    color: #666 !important;
    font-family: Helvetica;
    font-size: 11px;
    padding: 5px 5px;
    text-decoration: none;
}

.button a {
    color: #666;
}

.button:hover {
    background-color: #fff;
    color: #29ABE2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f2f2));
    background-image: -webkit-linear-gradient(top, #fff, #f1f2f2);
    background-image: -moz-linear-gradient(top, #fff, #f1f2f2);
    background-image: linear-gradient(top, #fff, #f1f2f2);
    background-image: -o-linear-gradient(top, #fff, #f1f2f2);
}

.button:hover a {

    color: #29ABE2;
}

.button:active {
    position: relative;
    top: 1px;
}

.button a {
    text-decoration: none;
}

.urlButton {
    background: url("../img/icons/link.png") no-repeat;
    background-size: 15px;
    padding-left: 20px;
}

.oboeButton {
    background: url("../img/icons/oboe_sml.png") no-repeat;
    background-size: 15px;
    padding-left: 20px;
}

.ui-widget-content {
    background-image: none;
    font-family: Helvetica, sans-serif;
    color: #414042;
    height: auto;
    font-size: 13px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.ui-widget-header {
    border: none;
    background-color: #fff;
    color: #3C6F95;
    height: auto;
    line-height: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 5px;
    margin-bottom: 5px;
    background-image: none;
}

.ui-corner-all {
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 0px;
    border-width: 2px;
    border-color: #28AAC5;
}

.svwp {
    width: 100%;
    height: 50px;
    background: #fff;
}

.navigation-button {
    opacity: .5;
    cursor: hand;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
}

.navigation-button:hover {
    opacity: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
}

.navigation-analyses {
    background: url('../img/icons/analyses.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.navigation-register {
    background: url('../img/icons/register.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.navigation-login {
    background: url('../img/icons/login.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.navigation-users {
    background: url('../img/icons/users.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.navigation-stats {
    background: url('../img/icons/stats.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.navigation-token {
    background: url('../img/icons/token.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.navigation-edit-profile {
    background: url('../img/icons/edit.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.navigation-jobs {
    background: url('../img/icons/job.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.navigation-logout {
    background: url('../img/icons/logout.png') no-repeat left center;
    padding-left: 21px;
    padding-top: 7px;
}

.oboe-services-header {
    border: 1px solid #EAEAEA;
    border-bottom-color: #CACACA;
    border-radius: 3px;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    width: 100%;
    height: 30px;
    /*text-indent: -9999px;*/
}

.oboe-services-icon {
    background: url('../img/oboe-services.png') no-repeat left top;
    padding-left: 8px;
    padding-top: 5px;
    width: 100px;
    height: 30px;
}

.services {
    display: inline-block;
    float: left;
}

#footer {
    color: #636363;
    padding: 10px 0 0 0;
    font-size: 12px;
    clear: both;
}

.footer_container {
    width: 992px;
    margin: 0 auto;
}

.upper_footer {
    min-height: 130px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: inset 0 -1px 0 white;
    background-color: #F8F8F8;
}

#additionalLinks {
    height: 130px;
    width: 164px;
    float: left;
    background: url('../img/footer/oboe_bw.png') no-repeat;
    text-indent: -5000px;
    margin: 15px 20px 0 0;
}

.bottom_footer {
    position: relative;
    background-color: white;
    overflow: hidden;
    clear: both;
    min-height: 60px;
}

.additional-information {
    float: inherit;
    margin-top: 20px;
    color: #666;
}

.additional-information a {
    color: #28AAC5;
}

#footer .upper_footer h4 {
    color: #666;
}

#footer .upper_footer ul.footer_links {
    position: relative;
    float: left;
    width: 164px;
    margin: 20px 10px;
}

#footer .upper_footer ul.footer_links a {
    color: #28AAC5;
    font-size: 13px;
    font-weight: lighter;
}

.serviceInformation {
    color: #666;
    font-size: 11px;
    font-weight: lighter;
}

.services {
    cursor: hand;
}

.services span span {
    font-size: 11px;
    color: #37688F;
    background-color: #f1f2f2;
    filter: alpha(opacity = 95);
    border-color: #28AAC5;
    border-style: solid;
    opacity: .95;
    width: 118px;
    display: none;
    position: relative;
    margin-left: 0px;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
}

.services span:hover span {
    display: block;
    position: absolute;
    margin-top: -123px;
}

.sponsors {
    padding-top: 10px;
    padding-bottom: 15px;
}

.sponsor {
    width: 50px;
    padding-bottom: 10px;
    padding-right:5px;
}

.sponsor_item {
    float: left;
    display: inline-block;
}

.mobile_item {
    float: left;
    display: inline-block;
}

.section-header {
    width: 100%;
    height: 28px;
}

.section {

    margin-top: 30px;
}

.supporters-header {
    background: url('../img/icons/supporters.png') no-repeat left top;
    padding-left: 8px;
    padding-top: 8px;
    width: 113px;
    height: 28px;
    /*text-indent: -9999px;*/
}

.apps-header {
    background: url('../img/icons/apps.png') no-repeat left top;
    padding-left: 8px;
    padding-top: 8px;
    width: 109px;
    height: 28px;
    /*text-indent: -9999px;*/
}

/* Splitter css */

.splitter {

    text-align: left;
    background: #fff;
    width: 100%;
    padding: 6px 5px 5px;
    font-size: 9px;
    font-weight: bold;
}

.splitter:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.splitter li,
.splitter ul,
.splitter ul li a {
    display: inline;
    display: inline-block;

}

.splitter ul li {
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    border: 1px solid #EAEAEA;
    border-bottom-color: #ccc;
}

.splitter ul li:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f2f2));
    background-image: -webkit-linear-gradient(top, #fff, #f1f2f2);
    background-image: -moz-linear-gradient(top, #fff, #f1f2f2);
    background-image: linear-gradient(top, #fff, #f1f2f2);
    background-image: -o-linear-gradient(top, #fff, #f1f2f2);
}

.splitter ul li a {
    padding: 5px 8px 6px;
    color: #37688F;
    text-decoration: none;
}

.splitter ul li.selected a {
    color: #28AAC5;
}

.service-grid {
    width: 960px;
}

.service-grid li {
    float: left;
}

.service-grid li services span img {
    display: block;
}

#services {
    height: auto;
}

li {
    display: inline-block;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: inline-block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.attention-label {
    width: 980px;
    margin: 0 auto;
    margin-top: 35px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#notice {
    background-color: #28AAC5;
}

#alert {
    background-color: #B94A48;
}


.admin-link {
  padding-left:5px;
}

.stuff {
    width: 980px;
    margin: 0 auto;
    margin-top: 35px;
}

#map {
  width: 980px;
  /* height: 450px; */
  height: 600px;
  margin-left:auto;
  margin-left:auto;
  margin-right:auto;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.content-section {
    display: inline-block;
    background-size: 30px;
    height: 30px;
    padding-left: 33px;
    padding-top: 0px;
    font-weight: bold;
}

.analyses-section {
    background: url('../img/icons/analyses.png') no-repeat left center;
}

.users-section {
    background: url('../img/icons/users.png') no-repeat left center;
}

.edit-user-section {
    background: url('../img/icons/edit.png') no-repeat left center;
}

.job-section {
    background: url('../img/icons/job.png') no-repeat left center;
}

.login-section {
    background: url('../img/icons/login.png') no-repeat left center;
}

.header-text {
    display: inline-block;
    font-weight: bold;
    padding-top: 8px;
}

#login {
    width: 31em;
}

.login_form {
    margin: 5em auto;
}

.login_form .formbody {

    padding: 2em;
    background-color: whiteSmoke;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 3px 3px;
}

/*
.form-text {
    width: 31em;
}
*/

.login_form form input.text, .login_form form textarea, .login_form form input[type="checkbox"] {
    padding: 5px;
    border: 1px solid #D8DEE2;
    margin: .2em 0 1em 0;
}


.danger-header {
    background: #F97171;
    background: -moz-linear-gradient(#F97171, #DF3E3E);
    background: -webkit-linear-gradient(#F97171, #DF3E3E);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f97171',endColorstr='#df3e3e')";
    border-bottom: 1px solid #900;
    color: #fff;
    margin-top: 15px;
}

.danger-text {
    padding-top: 5px;
    padding-left: 3px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
}

.leaving {
    color: #a0a0a0;
    text-align: center;
}

.login-additional {
    width: 23em;
    text-align: center;
    margin-top: 10px;
    margin-left: 3em;
    margin-right: 3em;

}

.normal-content a {
  text-decoration:underline;
  font-weight:bolder;
}

#error_explanation ul
{
  list-style: default;
}

#error_explanation li{
  display: block;
}

#privacy ul
{
  list-style: default;
}

#privacy li{
  display: block;
}

#privacy h2 {
  padding-top: 10px;
}


#privacy p {
  padding-top: 10px;
}

#privacy a:link {text-decoration:underline;}
#privacy a:visited {text-decoration:underline;}


.north-south {
  margin-left: 44px;
}

#sql_dump {
    font-family: 'Courier New', monospace;
}

.green { color: green }
.red { color: red }
