<div class="oboe-services-header"><span class="content-section analyses-section"><span class="header-text">Frequently Asked Questions</span></span></div><br/>


<div id="privacy">
<h2>What is OBOE?</h2>
<p class="normal-content">OBOE was originally designed as a REST back-end for <a href="http://scratchpads.eu/" target="_blank">Scratchpads</a>, to allow Scratchpad users to submit analyses whilst presenting Scratchpad developers with a single API. It has since expanded to allow web-based access to other services which aren't available elsewhere, such as <a href="/left" target="_blank">LEFT</a>.</p>

<hr/>

<h2>Can anyone use OBOE?</h2>
<p class="normal-content">In theory they can, but some services are restricted to members of certain institutions, or to those paying a subscription. Restricted services include (but aren't limited to) the <a href="/left" target="_blank">LEFT</a> service and services provided by the <a href="http://www.osc.ox.ac.uk/" target="_blank">Oxford Supercomputing Centre</a>.</p>

<hr/>

<h2>How do I get an account?</h2>
<p class="normal-content">Just <a href="/users/sign_up">request an account</a> on the website. This will be assigned to a default group with limited permissions, and re-assigned to an appropriate group (depending on your institution) by an OBOE administrator.</p>
</div>

<hr/>

<a name="private"><h2>What is the difference between public and private jobs?</h2></a>
<br>
<p class="normal-content">Normally jobs are created as private, and to view them, edit them, or download their results requires that you be logged in to an OBOE account. You can choose to create a job as public, which means that it is not necessary to log to view the job or download its output. In doing this it might be possible for someone to view the e-mail address of the person who created the job. However, in order to view the job it will be necessary for someone to know its unique ID. As it is not possible to search for jobs on the site without being logged in,  spammers would not be able to attempt to harvest e-mail addresses from OBOE job listings.</p>

<p class="normal-content">The purpose of having public jobs is so that the unique URL can be used in publications, e.g. where OBOE analyses have been used in a paper.</p>
</div>
