<div class="content-container" align="center"> 
<h3>About LEFT</h3>
<p>LEFT presents a simple yet effective method for mapping ecologically important landscapes beyond protected areas. The method uses existing globally available web-based databases and models to provide an ecological score based on five key ecological features (biodiversity, fragmentation, threat, connectivity and resilience) for every 300m pixel within any given region in the world. Co-ordinates (latitude and longitude) of the site location are all that are required as input and the resulting output is a coloured map indicating ecological value across the landscape. The primary audience of this tool are those practitioners involved in planning the location of any industrial and/or business facility outside of protected areas. It provides a pre-planning tool to use before undertaking a more costly field-based investigation and quickly highlights areas of high ecological value to avoid in the location of facilities.</p><br>

<p>The LEFT service is now being hosted by the Biodiversity Institute, University of Oxford.  Users are directed to the following link:</p></br>

<center>
  <p><a href="http://www.biodiversity.ox.ac.uk/LEFT">http://www.biodiversity.ox.ac.uk/LEFT</a></p><br>
</center>


<p>Please contact <a href="mailto:peter.long@zoo.ox.ac.uk">peter.long@zoo.ox.ac.uk</a> with any enquiries about LEFT.</p>





</div>
