    <div class="content" align="center">
      <img src="assets/img/top-image.png" alt="top"/>
    </div>


    <div class="clear">
    </div>
    <br/>


    <div class="news" align="center">
      <%= @news.html_safe -%>
    </div>

    
    <div id="services" class="container_16">

        <div class="grid_16 padTop">
            <div class="section information_block">
                <div class="oboe-services-header"><div class="oboe-services-icon"></div></div>

                <div class="clear"></div>
                <div id="filter">
                    <!--filter is automatically constructed here-->
                </div>


                <div id="oboe-services" class="services">
                    <!-- this is automatically  populated from the services JSON.-->
                </div>

            </div>
        </div>
    </div>
